<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Main</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>

        <div class="logo">
            <h1 id="logoWords">Myron Truesdale</h1>

            <!-- Menu -->
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/about">About Me</a>
                    <a href="/projects">Projects</a>
                    <a href="/research">Research</a>
                    <a href="/work">Work</a>
                    <a href="/resume">Resume</a>
                </div>
            </div>
        </div>

        <!-- Content -->
        <section>
            <div class="wrapper">
                <h2>About Me</h2>
                <p></p>
                <a href="/about">Learn More</a>
            </div>
        </section>

        <section>
            <div class="wrapper">
                <h2>Projects</h2>
                <div>
                    <div>
                        <h3>Project 1</h3>
                    </div>
                    <div>
                        <h3>Project 2</h3>
                    </div>
                </div>
                <a href="/projects">Learn More</a>
            </div>
        </section>

        <section>
            <div class="wrapper">
                <h2>Working with Arlis</h2>
                <p>Filler space</p>
                <br>
                <br>
                <br>
                <br>
                <a href="/research">Learn More</a>
            </div>
        </section>

        <section>
            <div class="wrapper">
                <h2>Other Work</h2>
                <a href="/work">Learn More</a>
            </div>
        </section>

        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>

        <section>
            <div class="wrapper">
                <h3>Contacts</h3>
                <button>LinkedIn</button>
                <button>GitHub</button>
                <button>Email</button>
            </div>
        </section>

	</body>
</html>