<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    
    <div class="logo">
        <h1 id="logoWords">Myron Truesdale</h1>

        <!-- Menu -->
        <div class="dropdown" id="">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/about">About Me</a>
                <a href="/projects">Projects</a>
                <a href="/research">Research</a>
                <a href="/work">Work</a>
                <a href="/resume">Resume</a>
            </div>
        </div>
    </div>

    <nav>
        <!-- handle nav bar later -->
        <div>
            
        </div>
    </nav>

    <section>
        <div>

        </div>
    </section>
</body>
</html>