body {
    background-color: white;
    color: black;
    overflow-y: auto;
}

.min-container {
    background-color: white;
    position: relative;
    min-height: 300rem; /* Adjust the value as needed */
}

.container {
    border-radius: 10px;
    border: 2px solid #000;
    margin: 2rem;
}

/* Pertinent to prompt area */

.color-change {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* or any specific height */
}

.circle {
    width: 15px;  /* Width of the circle */
    height: 15px; /* Height of the circle */
    border-radius: 50%; /* Makes the div circular */
    margin-left: 8px;
}

#prompt {
    height: 90vh;
    width: 80dvh;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding-top: 0;
    margin: 0;
}

#bar {
    display: flex; /* Example to line up circles */
    justify-content: flex-start;
    margin: 0;
    position: relative;
    height: 2rem;
    text-align: left;
    align-items: center;
    background-color:#2f2e2f;
    border-top-left-radius: 10px; /* Adjust as needed */
    border-top-right-radius: 10px; /* Adjust as needed */
}

#typeContainer {
    margin-top:2rem;
    margin-left: .5rem;
    color: white;
}

#close {
    background-color: #ff6157;
}

#minimize {
    background-color: #fcbd2f;
}

#maximize {
    background-color: #28c841;
}

/* End of pertinent to prompt area */

.nav-menu {
    margin: 1rem;
}
  
.nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}
  
.nav-menu li {
    display: inline;
}
  
.nav-menu a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
  
.nav-menu a:hover {
    text-decoration: underline;
}

/* handle blinking cursor */

.type-container div:last-child::after {
    content: "_";
    animation: blink 1s step-start 0s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
