.min-container {
  background-color: white;
  position: relative;
  min-height: 300rem; /* Adjust the value as needed */
}
.container {
  border-radius: 10px;
  border: 2px solid #000;
  margin: 2rem;
}